<div class="relative overflow-hidden">
	<div class="top-sheet-carousel-dots absolute block w-full bottom-12 z-30 px-12"></div>
	<div class="top-sheet-carousel grid grid-cols-1 md:grid-cols-3 text-center">
		<div class="h-screen relative bg-rock-climbing bg-cover bg-center">
			<div class="absolute w-screen h-screen bg-black opacity-40"></div>
			<div class="absolute inset-0 flex items-center justify-center">
				<h1 class="px-10 text-beige-light z-30">Immersive Activities</h1>
			</div>
		</div>
		<div class="h-screen relative bg-desertscape bg-cover bg-right">
			<div class="absolute w-screen h-screen bg-black opacity-40"></div>
			<div class="absolute inset-0 flex items-center justify-center">
				<h1 class="px-10 text-beige-light">Incredible Places</h1>
			</div>
		</div>
		<div class="h-screen relative bg-kid-in-helmet bg-cover bg-center">
			<div class="absolute w-screen h-screen bg-black opacity-40"></div>
			<div class="absolute inset-0 flex items-center justify-center">
				<h1 class="px-10 text-beige-light">Curated Packages</h1>
			</div>
		</div>
	</div>
</div>