<div class="absolute w-screen grid grid-cols-3 h-44 text-white z-10">

	<div class="w-80 m-auto text-left">
		<a class="pr-10" href="#">Activities</a>
		<a class="pr-10" href="#">Places</a>
		<a href="#">Packages</a>
	</div>

	<div class="m-auto w-32 text-center">
		<a href="/">
			<img src="/img/branchout-logo.svg" />
		</a>
	</div>

	<div class="w-80 m-auto text-right font-sourcecodepro uppercase text-xs">
		<a class="pr-5 tracking-sourcecode" href="/about-us">About Us</a>
		<a class="pr-5 tracking-sourcecode" href="#">Faq</a>
		<a class="pr-5 tracking-sourcecode" href="#">Blog</a>
		<a class="tracking-sourcecode" href="#">Contact</a>
	</div>
	
</div>