<div class="absolute w-screen grid grid-cols-3 h-40 text-beige-light z-10">

	<div class="flex m-auto">
		<a class="menu-button mt-1 pr-2" href="#">
			<img class="w-3" src="/img/minus-line.svg" />
		</a>
		<a class="menu-button font-staatliches" href="#">
			Menu
		</a>
	</div>

	<div class="m-auto w-24 text-center">
		<a href="/">
			<img src="/img/branchout-logo.svg" />
		</a>
	</div>

	<div class="flex m-auto">
		<a class="block pr-4" href="{{ siteInformation.facebookUrl }}">
			<img class="w-6" src="/img/facebook-logo.svg" />
		</a>
		<a class="block pr-3" href="{{ siteInformation.twitterUrl }}">
			<img class="w-6" src="/img/twitter-logo.svg" />
		</a>
		<a class="block pr-3" href="{{ siteInformation.instagramUrl }}">
			<img class="w-6" src="/img/instagram-logo.svg" />
		</a>
	</div>

</div>

<div class="mobile-menu hidden absolute w-screen h-screen z-50 bg-beige-light">

	<div class="absolute left-8 top-8 p-10">
		<a class="mobile-menu-close" href="#">
			<img class="w-5" src="/img/close-icon.svg" />
		</a>
	</div>

	<div class="w-full font-sourcecodepro text-charcoal-dark text-xl py-40">
		<a class="block w-full text-center py-2" href="/">Home</a>
		<a class="block w-full text-center py-2" href="#">Activities</a>
		<a class="block w-full text-center py-2" href="#">Places</a>
		<a class="block w-full text-center py-2 pb-6" href="#">Packages</a>
		<a class="block w-full text-center py-2" href="/about-us">About Us</a>
		<a class="block w-full text-center py-2" href="#">Faq</a>
		<a class="block w-full text-center py-2" href="#">Blog</a>
		<a class="block w-full text-center py-2" href="#">Contact</a>
	</div>

</div>