<head>
    <meta content="IE=edge" http-equiv="X-UA-Compatible">
    <meta charset="utf-8"/>
    <title>{{ siteInformation.siteTitle }}</title>
    <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no, viewport-fit=cover" name="viewport">
    <style>
    	@import url('https://fonts.googleapis.com/css2?family=Inter&family=Source+Code+Pro&family=Staatliches&display=swap');
    	@import url('/css/styles.css');
    	@import url('/css/slick.css');
    </style>
</head> 