<div class="relative">
	<div class="icons-carousel-dots absolute block w-full content-center bottom-0 z-30 px-12"></div>
	<div class="icons-carousel relative grid grid-cols-1 text-beige-light pb-14">
		<div class="text-center">
			<img class="block mx-auto w-20 md:w-16 mb-5" src="img/icons/branchout-icon1.svg" alt="Intimate Groups" />
			<h4 class="block mx-auto w-1/2 text-2xl">Intimate Groups</h4>
		</div>
		<div class="text-center">
			<img class="block mx-auto w-20 md:w-16 mb-5" src="img/icons/branchout-icon2.svg" alt="Premium Accomodation" />
			<h4 class="block mx-auto w-1/2">Premium Accomodation</h4>
		</div>
		<div class="text-center">
			<img class="block mx-auto w-20 md:w-16 mb-5" src="img/icons/branchout-icon3.svg" alt="Luxury Experiences in Local Communities" />
			<h4 class="block mx-auto w-1/2">Luxury Experiences in Local Communities</h4>
		</div>
		<div class="text-center">
			<img class="block mx-auto w-20 md:w-16 mb-5" src="img/icons/branchout-icon4.svg" alt="VIP Options" />
			<h4 class="block mx-auto w-1/2">VIP Options</h4>
		</div>
		<div class="text-center">
			<img class="block mx-auto w-20 md:w-16 mb-5" src="img/icons/branchout-icon5.svg" alt="Local Guides Real Connections" />
			<h4 class="block mx-auto w-1/2">Local Guides, Real Connections</h4>
		</div>
	</div>
</div>