{% extends "_layout" %}

{% block content %}

	<section>

		<div class="hidden md:block">
			{% include "_partials/_front-sheet-desktop" %}
		</div>

		<div class="block md:hidden">
			{% include "_partials/_front-sheet-mobile" %}
		</div>

	</section>

	<section>

		<div class="h-auto grid grid-rows-2 grid-cols-1 md:grid-cols-2 md:grid-rows-1">

			<div class="block my-10 md:my-auto px-10 md:px-44">
				<h2>{{ entry.homePageAboutHeading }}</h2>
				<p class="pt-10 text-charcoal">{{ entry.homePageAboutText1 }}</p>
				<p class="text-charcoal">&emsp;&emsp;{{ entry.homePageAboutText2 }}</p>
			</div>

			<div class="relative block -my-10 md:my-auto mx-auto md:mx-0 py-10 md:py-40 w-2/3">
				<img src="img/home-about-image.png" alt="{{ entry.homePageAboutHeading }}" />
				<img class="absolute block inset-y-0 md:inset-y-20 inset-x-3/4 w-40 w-40" src="img/branchout-badge.svg" />
			</div>

		</div>

		<div class="hidden md:block">
			{% include "_partials/_icon-carousel-desktop" %}
		</div>

		<div class="block pt-28 md:hidden">
			{% include "_partials/_icon-carousel-mobile" %}
		</div>

	</section>

	<section>

		<div class="pt-20">

			<h2 class="py-10 px-10 md:px-44">Tours & Packages</h3>

			{% include "_partials/_tours-carousel" %}

		</div>

	</section>

{% endblock %}